# os
.DS_Store

# ide
.idea
.history

# npm
node_modules
npm-debug.log
yarn.lock

# bower
bower_components

# public
public

# coverage
coverage
.nyc_output

# ps
/.pulp-cache/
/output/
/generated-docs/
/.psc*
/.purs*
/.psa*
