* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.app {
  $border: 1px solid rgba(0, 0, 0, 0.1);
  $padding-factor: 2.5;
  $link-default: black;
  $link-hover: #ff5511;

  width: 100vw;
  height: 100vh;
  user-select: none;
  font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;

    > nav {
      $size: 35px;

      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: $border;
      font-size: 12px;
      height: $size;

      > a,
      > header,
      > div {
        padding: 0 ($size / $padding-factor);
        display: flex;
        align-items: center;
        height: 100%;
        border-right: $border;

        &.correct {
          color: green;
        }

        &.incorrect {
          color: red;
        }
      }

      > header {
        font-weight: bold;
        text-transform: uppercase;
        background: url('/images/flag.svg') no-repeat ($size / $padding-factor) center;
        background-size: $size / $padding-factor;
        padding-left: $size;
      }

      > a {
        cursor: pointer;
        transition: color 0.25s;
        color: $link-default;

        &:hover {
          color: $link-hover;
        }
      }
    }

    > section {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > img {
        width: 50vw;
        max-width: 300px;
        object-fit: cover;
        max-height: 200px;
        margin-bottom: 20px;
      }

      > ul {
        $size: 35px;

        height: $size;
        border: $border;
        display: flex;

        @media screen and (max-width: 480px) {
          flex-direction: column;
          border: 0;
          height: auto;
          width: 50vw;
          max-width: 300px;
        }

        > li {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 ($size / $padding-factor);
          font-size: 13px;
          color: $link-default;
          transition: color 0.25s;
          cursor: pointer;

          &:hover {
            color: $link-hover;
          }

          &:not(:last-of-type) {
            border-right: $border;
          }

          @media screen and (max-width: 480px) {
            border: $border;
            padding: ($size / $padding-factor) - 5;

            &:not(:last-of-type) {
              border-bottom: 0;
            }
          }
        }
      }

      > section.results {
        display: flex;
        flex-direction: column;
        align-items: center;

        > div {

          &.score {
            margin: 10px 0 20px 0;
            font-size: 12px;
          }

          &.percentage {
            font-size: 65px;
            font-weight: bold;
          }
        }

        > a {
          color: $link-default;
          transition: color 0.25s;
          cursor: pointer;
          border: $border;
          padding: 8px 25px;
          font-size: 12px;

          &:hover {
            color: $link-hover;
          }
        }
      }
    }
  }
}
